* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  padding: 0.5rem 0;
  text-align:  center;
  background-color: ghostwhite;
}

main {
  margin: 2rem 0;
  background-color: ghostwhite;
}

.left {
  transform: rotate(180deg);
}
.right {
  transform: rotate(0deg);
}

.chevronIcon {
    cursor: pointer;
}
 .disable {
  filter: opacity(0.2);
  cursor: not-allowed;
}

.dTabs::-webkit-scrollbar {
  display: none;  
}